/Aula01/Exercicio03/nbproject/private/
/Aula01/Exercicio04/nbproject/private/
/Aula01/Exercicio03/build/
/Aula01/Exercicio04/build/
/Aula02/Exercício02/nbproject/private/
/Aula02/Exercício02/build/
/Aula02/Exercicio02/build/
/Aula02/Exercicio02/nbproject/private/
/Aula02/Exercicio03/nbproject/private/
/Aula02/Exercicio04/nbproject/private/
/Aula02/Exercicio05/nbproject/private/
/Aula02/Exercicio05/build/
/Aula02/Exercicio04/build/
/Aula02/Exercicio03/build/
